mixin createTask(users)
    form()
        input(type='text', name='name', value='')
        select(name="type")
            option(value="Tâche Ménagère") Tâche Ménagère
            option(value="Dépense") Dépense  
        select(name="user")
            each user in users
                option(value=`${user.userId}`) #{user.name}
        input(type='submit', value='Créer', onClick='')