doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/public/css/style.css", type='text/css')
    title Liste de Tâches
  body
    h1 Liste de Tâches
    include includes/nav.pug
    include includes/createTask.pug
    +createTask(users)
    .users
      each user in users
        button(class='' onClick= `filter(${user.id})`) #{user.name}

    .lists 
      div.todoList
        each task in tasks
          if !task.done
            include  includes/task.pug
            +taskBox(task.name, task.type, task.done)
      div.doneList
        each task in tasks
          if task.done
            include  includes/task.pug
            +taskBox(task.name, task.type, task.done)